@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
	
:root {
	--c-theme-primary: rgb(46, 189, 255);
	--c-theme-primary-accent: #2e8cff;
	--c-bg-primary: #D6DAE0;
	--c-bg-secondary: #EAEBEC;
	--c-bg-tertiary: #FDFDFD;
	--c-text-primary: #1F1F25;
	--c-text-secondary: #999FA6;
}

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #55427e;
	color: var(--c-text-primary);
}

button {
	font: inherit;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}


.datepicker {
	width: 80vw;
	background-color: var(--c-bg-tertiary);
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
	padding: 1rem;
    height: 60vh;
}

.datepicker-top {
	margin-bottom: 1rem;
}



.tag {
	margin-right: .5rem;
	margin-top: .5rem;
	border: 0;
	background-color: var(--c-bg-secondary);
	border-radius: 10px;
	padding: .5em .75em;
	font-weight: 600;
}

.month-selector {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    border-bottom: 1px solid black;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color:#FFF;
	border-radius: 12px;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
}
.arrow:hover{
    color: #008FFD;
}

.month-name {
	font-weight: 600;
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
}

.day, .date {
	justify-self: center;
}

.day {
	color: var(--c-text-secondary);
	font-size: .875em;
	font-weight: 500;
	justify-self: center;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	&:focus {
		outline: 0;
		color: var(--c-theme-primary);
		border: 2px solid var(--c-theme-primary-accent);	
	}	
    &:hover {
		outline: 0;
		color: var(--c-theme-primary);
		border: 2px solid var(--c-theme-primary-accent);	
	}
}

.faded {
	color: var(--c-text-secondary);
}

.current-day {
	color: #FFF;
	border-color: var(--c-theme-primary);
	background-color: var(--c-theme-primary);
	&:focus {
		background-color: var(--c-theme-primary-accent);
	}
}

.agendamentos{
    margin-top: 20px;
    background-color: white;
    border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
    padding: 20px;
}

.agendamentosCard{
    text-align: center;
    height: 300px;
    background-color: hsl(128, 54%, 40%);
    width: 200px;
    border-radius: 15px;
}
.agendamentosCardHeader{
    
}

.agendamentosCardBody{
    color: white;
    background-color: #43484e;
    height: 195px;
    width: 195px;
    border: 2px solid rebeccapurple;
    margin: auto;
    border-radius: 15px;
}
