*, *:after, *:before {
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
	
:root {
	--c-theme-primary: rgb(46, 189, 255);
	--c-theme-primary-accent: #2e8cff;
	--c-bg-primary: #D6DAE0;
	--c-bg-secondary: #EAEBEC;
	--c-bg-tertiary: #FDFDFD;
	--c-text-primary: #1F1F25;
	--c-text-secondary: #999FA6;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bae9e8;;
}

header {
    background-color: #2dbdff;
    color: white;
    padding: 10px 0;
    text-align: center;
	min-width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}



main {
    padding: 20px;
}

.calendarSection {
    margin-bottom: 30px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.agendamentoContainer{
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content: space-evenly;
	gap: 70px;
}

.agendamentoCard{
	background: rgb(255, 254, 254);
	width: 500px;
	padding: 20px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.agendamentoCard li{
	margin: 30px;
	background-color: #e7eaee;
	list-style-type: none;
	border-radius: 4px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2dbdff;
    color: white;
    position: static;
	right: 100;
	left: 200;
    bottom: 0;
    width: 100%;
}

.formContainer{
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

#agendarSection{
	display: none;
	width: 100%;
	
}

button {
	font: inherit;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}


.datepicker {
	width: 100%;
	background-color: var(--c-bg-tertiary);
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
	padding: 1rem;
    height: 460px;
}

.datepicker-top {
	margin-bottom: 1rem;
}

.calendar{
	height: 440px;
	background-color: #2dbdff;
}

.alert{
	display: none;
}

.tag {
	margin-right: .5rem;
	margin-top: .5rem;
	border: 0;
	background-color: var(--c-bg-secondary);
	border-radius: 10px;
	padding: .5em .75em;
	font-weight: 600;
}

.month-selector {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    border-bottom: 1px solid black;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color:#FFF;
	border-radius: 12px;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
}
.arrow:hover{
    color: #008FFD;
}

.month-name {
	font-weight: 600;
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
}

.day, .date {
	justify-self: center;
}

.day {
	color: var(--c-text-secondary);
	font-size: .875em;
	font-weight: 500;
	justify-self: center;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	&:focus {
		outline: 0;
		color: var(--c-theme-primary);
		border: 2px solid var(--c-theme-primary-accent);	
	}	
    &:hover {
		outline: 0;
		color: var(--c-theme-primary);
		border: 2px solid var(--c-theme-primary-accent);	
	}
}

.faded {
	color: var(--c-text-secondary);
}

.current-day {
	color: #FFF;
	border-color: var(--c-theme-primary);
	background-color: var(--c-theme-primary);
	&:focus {
		background-color: var(--c-theme-primary-accent);
	}
}


.agendamentoContainer{
	display: flex;
	flex-direction: row;
}
